@import "_mixin.scss";
@import "common.scss";
.wrap {
    @include num(100%, 100%);
    overflow: hidden;
    @include box_flex;
    flex-direction: column;
}

header {
    z-index: 999;
    @include num(100%, rem(44px));
    @include flexs;
    padding: 0 rem(10px);
    @include sizing;
    position: fixed;
    top: 0;
    left: 0;
    label {
        flex: 1;
        position: relative;
        input {
            @include num(100%, rem(35px));
            border-radius: rem(16px);
            background: #fff;
            text-indent: rem(30px);
        }
        .icon {
            position: absolute;
            left: rem(10px);
            top: 30%;
            font-size: rem(16px);
            color: #ccc;
        }
    }
    span {
        @include num(rem(50px), rem(44px));
        text-align: center;
        line-height: rem(44px);
        color: #fff;
    }
}

section {
    flex: 1;
    flex-direction: column;
    @include box_flex;
    overflow-y: auto;
    .banners {
        @include num(100%, rem(200px));
        img {
            @include num(100%, 100%);
        }
    }
}

.list {
    @include num(100%, auto);
    @include box_flex;
    flex-wrap: wrap;
    padding: rem(10px);
    @include sizing;
    li {
        @include num(20%, auto);
        flex-direction: column;
        @include flexs;
        img {
            @include num(60%, auto);
        }
        span {
            line-height: 2;
        }
    }
}

.title {
    @include num(100%, rem(44px));
    img {
        @include num(100%, auto);
    }
}